/* Fonts */
@font-face {
  font-family: "Coolvetica";
  src: url(../assets/fonts/coolvetica.ttf) format("truetype");
}

@font-face {
  font-family: "AlKisah";
  src: url(../assets/fonts/al_kisah.ttf) format("truetype");
}

@font-face {
  font-family: "AgencyFb";
  src: url(../assets/fonts/agencyb.ttf) format("truetype");
}

/* Responsive Typography */

html,
body {
  font-size: 14px !important;
}

h1 {
  font-size: 1.602em;
}

h2 {
  font-size: 1.424em;
}

h3 {
  font-size: 1.266em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 0.889em;
}

h6 {
  font-size: 0.79em;
}

.display-1 {
  font-size: 3.906em;
}

.display-2 {
  font-size: 3.125em;
}

.display-3 {
  font-size: 2.5em;
}

.display-4 {
  font-size: 2em;
}

@media (min-width: 48em) {
  h1 {
    font-size: 2.441em;
  }

  h2 {
    font-size: 1.953em;
  }

  h3 {
    font-size: 1.463em;
  }

  h4 {
    font-size: 1.25em;
  }

  .display-1 {
    font-size: 6em;
  }

  .display-2 {
    font-size: 5.5em;
  }

  .display-3 {
    font-size: 4.5em;
  }

  .display-4 {
    font-size: 3.5em;
  }
}
@media (min-width: 62em) {
  html,
  body {
    font-size: 16px !important;
  }
}
@media (min-width: 75em) {
  html,
  body {
    font-size: 18px !important;
  }
}
.jumbotron {
  font-size: 16px;
}
@media (min-width: 62em) {
  .jumbotron {
    font-size: 20px;
  }
}
.jumbotron p.lead {
  border-radius: 4px;
}

/* Header Parallax Element Style*/ 
.paral {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 90%;
  }
.paralsec {
  background-image: url(../assets/img/Header.jpg);
}

.paral p {
color:#f5f5f5;
}
   
  /* Heading for Parallax Section */ 
  .paral h1 {
  color: #f5f5f5;
  }

.jumbotron{margin-bottom: 0;}

/* Services Section */

[class*='hero-'] {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 2em;
}
[class*='hero-']:hover::before {
  top: -100%;
}
[class*='hero-']:hover::after {
  color: transparent;
}

  [class*='hero-']::before {
  transition: all .5s;
  position: absolute;
  width: calc(100% - 30px);
  height: 100%;
  top: 0;
  left: 15px;
  content: "";
  background-color: rgba(0, 0, 0, .7);
  background-origin: padding-box;
}
[class*='hero-']::after {
  position: absolute;
  transition: all .4s;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero-1:after {
  content: 'Imagen Corporativa';
}

.hero-2:after {
  content: 'Actividades de Integración';
}

.hero-3:after {
  content: 'Team Building';
}

.hero-4:after {
  content: 'Eventos Deportivos';
}
.hero-5:after {
  content: 'Concurso de Talentos';
}
.hero-6:after {
  content: 'Viaje de Incentivo';
}

.service_title {
  /* border: .1em solid; */
  text-transform: uppercase;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  padding: .3em 1.9em;
  color: rgb(101,25,103);
  box-shadow: 4px 5px 10px #888888;
}

.services_section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Team Seaction */

.tm-section {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../assets/img/team_desktop.jpg);
  background-position: center center;
}

.tm-item {
  background-color: black;
  opacity: 0.8;
}

.tm-item > p {
  margin-bottom: 0px;
  font-size: .8125em;
  text-align: justify;
  color: white;
  font-weight: bold;
}

.tm-item > h3,h5 {
  color: white;
}

.tm-item > h3 {
  margin-bottom: 0px;
}

.tm-section-mb {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-image: url(../assets/img/team_mobile.jpg);
  background-position: 50% 90%;
}
